$font-primary: 'Noto Sans', sans-serif;
$font-heading: 'Hind', sans-serif;
$font-brand: 'Rancho', sans-serif;

$font-size-base: 16px;
$font-size-sm: 0.8rem;
$font-size-lg: 1.2rem;
$font-size-xl: 1.5rem;

$font-size-brand: 2.3rem;

$primary-bg: #fbfbfb;
$nav-bg: rgba(0, 0, 0, 0.9);

$font-light: #fff;
$font-dark: #555;

$blue: #039be5;
$green: #66bb6a;

$heading-sizes: 3em, 2.5em, 2em, 1.5em, 1.25em, 1em, .75em;

$break-tablet: 768px;
$break-desktop: 1024px;
